# App
PORT=
NODE_ENV=
APP_URL=

# MongoDB
MONGODB_URI=mongodb://localhost:27017/nittojatra

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Bcrypt
BCRYPT_ROUNDS=
